﻿.logviewer
{
	position: relative;
    height: 100%;
    width: 100%;
	/* width: 600; height: 600; */
    border-collapse: collapse;
}

.horizontal
{
    /* float: left; */
    display: inline;
}

.logviewer-toolbar
{
	height: 30px;
	width: 100%;
	/* position: absolute; top: 0; left: 0; right: 0; height: 30px; */
	height: 30px;
    font-family: Lucida Sans Unicode;
    font-size: 12px;
}

.logviewer-gauges
{
	width: 1600px;
	height:170px;
    font-family:Lucida Sans Unicode;
    font-size: 12px;
    /* overflow-x: scroll;    */
}

.logviewer-frame
{
	min-height: 1200px;
    padding: 30px 0 0;
	display: table-row;
}

div.logviewer-toolbar>input
{
    border:0;
    color: #2a2427;
    background-color: rgb(237, 239, 241);
    width: 90px;
}

.logviewer-navigator
{
	/* padding: 4px; */	
	height: 1080px;
	width: 300px;
	float: left;
    display: inline-block;
	/* No margin or border allowed */
}

.logviewer-right
{

	/* padding: 4px; */
	width: 100%;
	min-width: 800px;
	height: 1080px;
	float: left;
	overflow-y: scroll;
	overflow-x: scroll;
    display: inline-block;

	/* No margin or border allowed */
}

.logviewer-content
{
	/* padding: 2px; */
	min-height: 400px;
	height: 100%;
	min-width: 1600px;
    width: 1200px;
	/* position:relative; */
	font: normal small-caps bold 8pt verdana;
    /* overflow-x: scroll; */
	/* No margin or border allowed */
}

.logviewer-frame .vsplitbar
{
	width: 4px;
	background: rgba(213, 255, 213, 0) url(../splitter/img/vgrabber.gif) no-repeat center;
}

.logviewer-frame .vsplitbar.active, .vsplitbar:hover
{
	background: #e88 url(../splitter/img/vgrabber.gif) no-repeat center;
}

.logviewer-scale 
{
    width: 200px;
    min-width: 200px;
    clear: left;
	font: normal small-caps normal 8pt verdana;
}

.slider-range
{
    height: 800px;
    float: left;
}

.depth-track 
{    
    background-color:  white;
    height:97%; 
    overflow: hidden;     
    /* display: table-cell; */
    border: 2px solid #669;
    margin: 0px;
    width: 100px; 
    height: 98%;
    float: left;
    text-anchor: middle;
    
}

.log-track 
{
    
    background-color:  white;
    height:97%; 
    overflow: hidden;     
    /* display: table-cell; */
    border: 2px solid #669;
    margin: 0px;
    width: 200px; 
    height: 98%;
    float: left;   
}

.log-track-selected
{
    background-color: lightgray;
}

.log-track .hsplitbar
{
	height: 2px;
	background: #669 url(../splitter/img/hgrabber.gif) repeat-x center;
}

.log-track .hsplitbar.active, .hsplitbar:hover
{
	background: #c66 url(../splitter/img/hgrabber.gif) repeat-x center;
}

.log-track-header 
{
    background-color:  white;
    height: 100px;
    min-height: 100px;   
    max-height: 100px;
    overflow:hidden;
    border-bottom:  1px solid #669;
    margin: 0;
    padding: 0;    
    text-align: center;
}

.log-track-detail
{
    height: 100%;    
    position:relative;
    overflow:hidden;
}

.log-trace:hover
{
    stroke-width: 3;
}

.log-trace
{
    vector-effect: non-scaling-stroke;
    stroke: red;
    stroke-width: 1;
    fill: none;
}

.logviewer h3 
{
    font: normal small-caps normal 12pt verdana;
}

.logviewer .data-tree
{
    font-family: verdana;
    font-size: 9pt;
}

.grid-major
{
    stroke: black;
    stroke-width: .5;
    text-anchor: middle;
    dominant-baseline: middle;
}

.grid-minor
{
    stroke: blue;
    stroke-width: 0.1;
    text-anchor: middle;
    dominant-baseline: middle;
}
