<div class="logviewer-toolbar">
    <button id="buttonConnect">Connect</button>
    EXP Server <input id="socket-server"  value="ws://localhost:8080" style="width:200px;"/>
    Encoding
    <select id="etp-encoding">
        <option value="binary">binary</option>
        <option value="json">json</option>
    </select>
</div>
<div class="logviewer-frame" style="min-width:1600px; min-height:1200px">
    <div class="logviewer-navigator">

        <h3><a href="#">Available Channels</a></h3>
        <div id="wellTree" class="yui3-skin-sam">  <!--
                <div><input type="checkbox" id="autoLoadTree" title="Automatic Tree Loading"/>Auto Load</div>
                <span><input type="checkbox" id="filterTree" title="Filter"/>Filter<input id="filterTreeText"  value="" style="width:150px;"/></span>     -->
        </div>
        <h3><a href="#">Active Channels</a></h3>
        <div id="channelTree" class="yui3-skin-sam"></div>
        <h3><a href="#">Communication Log</a><button id="clearLog" onclick="$('#logViewerLog').empty()">Clear</button></h3>
        <div id="logViewerLog" style="min-height: 600px; font-family:Lucida Sans Unicode; font-size: 10px;"></div>
        <h3><a href="#">Session Statistics</a></h3>
        <div id="sessionStatistics" class="yui3-skin-sam"/>
    </div>
    <div class="logviewer-right">
        <div id="DemoTabs" style="min-height:100%">
            <ul>
                <li><a href="#tabRealtime">Streaming</a></li>
                <li><a href="#tabHistorical">Historical</a></li>
                <li><a href="#tabObject">Object</a></li>
            </ul>
            <div id="tabRealtime" style="min-height:100%; min-width:900px">
                <div id="LogViewer1"/>
            </div>
            <div id="tabHistorical" style="min-height:800px">
                <div id="logTransfer"></div>
            </div>
            <div id="tabObject" style="min-height:800px">
                <div id="objEditor">
                    <button id="testArray">Get Array</button>
                </div>
            </div>
        </div>
    </div>
</div>
